@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
main,body,html {
  background-color: grey;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.pick-hero-div{
  display: flex;
  justify-content: space-evenly;
}
button{
  border: none;
  transition: scale .3s ease;
}
button:hover{
  scale: 1.2;
}
button:active{
  scale: 1;
}
#locationSelectPage{
  display: flex;
  justify-content: space-evenly;
}
#battleLog{
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
#battleButtons{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.stats{
display: grid;
grid-template-columns: repeat(2,2fr);
justify-content: center;
margin-bottom: 100px;
}
.hidden{
  display: none !important;
}
.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;  
  align-items: center;     
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.modal-box {
  background: rgba(255, 255, 255, 0.568);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#customAlertClose{
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
}
#resetButton{
  width: 50px;
}
#specialMove{
  position: absolute;
  top: 208px;

}
.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
#battleRecord{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  text-align: center;
}