@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
main,body,html {
  background-color: grey;
  height: 100%;
}
.pick-hero-div{
  display: flex;
  justify-content: space-evenly;
}
button{
  border: none;
  transition: scale .3s ease;
}
button:hover{
  scale: 1.2;
}
button:active{
  scale: 1;
}
#locationSelectPage{
  display: flex;
  justify-content: space-evenly;
}
#battleLog{
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
#battleButtons{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
